.user {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #49916d;
  padding: 1rem;
  border-radius: 0.6rem;
}
.user_img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.user_img img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.user_title .user__Job {
  color: #d6d5d5;
  font-size: 0.6rem;
}

.trash_icon:hover {
  color: #f65351;
  cursor: pointer;
}
